<header><h1>VIEW ALL HOSPITALS</h1></header>
<div class="topnav">
  <a routerLink="/hospitalmenu">Back</a>
 <a id="logout" routerLink="/">Logout</a>
</div>
<br>
<br>
<div>
  <table border='1' style="width:50%">
      <tr>
          <th>HospitalID</th>
          <th>HospitalName</th>
          <th>Address</th>
          <th>City</th>
          <th>ConatctNo</th>
          <th>Blood Bank ID</th>
      </tr>
      <tr *ngFor="let item of hospitals">
          <td><input type="text" [(ngModel)]="item.hospitalID" [disabled]="!item.isEditable"/></td>
          <td><input type="text" [(ngModel)]="item.hospitalName" [disabled]="!item.isEditable"/></td>
          <td><input type="text" [(ngModel)]="item.address" [disabled]="!item.isEditable"/></td>
          <td><input type="text" [(ngModel)]="item.city" [disabled]="!item.isEditable"/></td>
          <td><input type="text" [(ngModel)]="item.contactNo" [disabled]="!item.isEditable"/></td>
          <td><input type="text" [(ngModel)]="item.bloodBankID" [disabled]="!item.isEditable"/></td>
          <td><button (click)="DeleteHospitalDetails(item.hospitalID)">Delete</button></td>
          <td>
            <button (click)="item.isEditable=!item.isEditable" *ngIf="!item.isEditable">Edit</button>
            <button *ngIf="item.isEditable" (click)="updatehospital(item.hospitalID,item.hospitalName,item.address,item.city,item.contactNo,item.bloodBankID)">Save</button>


         </td>
      </tr>



  </table>

</div>
<footer>
  <h4>COPYRIGHT © 2022<br>Blood Bank Management<br>ALL RIGHTS RESERVED.</h4>
</footer>

