<div>
  <table border='1' style="width:50%">
      <tr>
          <th>HospitalID</th>
          <th>HospitalName</th>
          <th>Address</th>
          <th>City</th>
          <th>ConatctNo</th>
      </tr>
      <tr *ngFor="let item of hospitals">
          <td>{{item.hospitalID}}</td>
          <td>{{item.hospitalName}}</td>
          <td>{{item.address}}</td>
          <td>{{item.city}}</td>
          <td>{{item.contactNo}}</td>
          <td><button (click)="DeleteHospitalDetails(item.hospitalID)">Delete</button></td>
      </tr>


  </table>
</div>
