<header><h1>Add Blood Donor</h1></header>
<div>
    <table>

      <tr>
        <td id="textele">Name</td>
        <td><input type="text" name="" id="" [(ngModel)]="blooddonor.firstName"></td>
      </tr>
      <tr>
        <td id="textele">Last Name</td>
        <td><input type="text" name="" id="" [(ngModel)]="blooddonor.lastName"></td>
      </tr>
      <tr>
        <td id="textele">Address</td>
        <td><input type="text" name="" id="" [(ngModel)]="blooddonor.address"></td>
      </tr>
      <tr>
        <td id="textele">City</td>
        <td><input type="text" name="" id="" [(ngModel)]="blooddonor.city"></td>
      </tr>
      <tr>
        <td id="textele">Mobile No</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonor.mobileNo"></td>
      </tr>
      <tr>
        <td id="textele">blood group</td>
        <td><input type="text" name="" id="" [(ngModel)]="blooddonor.bloodGroup"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button id="btn" (click)="Addblooddonor()">Add</button>


        </td>
      </tr>

    </table>
    <button><a routerLink="/blooddonormenu">back</a></button>
  </div>
