<header><h1>SEARCH BLOOD</h1></header>
<br>
<div>
  <table>
    <tr>
      <td id="hid">Enter Blood Group</td>
      <td><input type="text" name="" id="" [(ngModel)]="blooddonordonation.bloodGroup"></td>
    </tr>
    <br>
    <tr>
      <td id="hid">Enter Blood Bank ID</td>
      <td><input type="text" name="" id="" [(ngModel)]="blooddonordonation.bloodBankID"></td>
    </tr>
    <br>
    <tr>
      <td>
        <td><button id="btn" (click)="SearchBlood()">Search</button>
        </td>


    </tr>
    <br>
    <tr>
      <td>
      <p>{{num}}</p>
      </td>
    </tr>
    </table>
</div>
