<header> <h1>Add Blood Bank Details</h1> </header>
<div>
  <table>
    <tr>
      <td id="textele">Blood Bank Id:</td>
      <td><input type="text" name="" id="" [(ngModel)]="bloodbank.bloodBankID"></td>
    </tr>
    <tr>
      <td id="textele">User Id</td>
      <td><input type="number" name="" id="" [(ngModel)]="bloodbank.userID"></td>
    </tr>
    <tr>
      <td id="textele">Password</td>
      <td><input type="number" name="" id="" [(ngModel)]="bloodbank.password"></td>
    </tr>
    <tr>
      <td id="textele">Blood Bank Name</td>
      <td><input type="text" name="" id="" [(ngModel)]="bloodbank.bloodBankName"></td>
    </tr>
    <tr>
      <td id="textele">Address</td>
      <td><input type="text" name="" id="" [(ngModel)]="bloodbank.address"></td>
    </tr>
    <tr>
      <td id="textele">City</td>
      <td><input type="text" name="" id="" [(ngModel)]="bloodbank.city"></td>
    </tr>
    <tr>
      <td id="textele">ContactNumber</td>
      <td><input type="number" name="" id="" [(ngModel)]="bloodbank.contactNumber"></td>
    </tr>
    <tr>
      <td colspan="2">
        <button  id="btn" (click)="AddBloodBank()">Add</button>
</td>
    </tr>
  </table>
</div>
