<header><h1>ADD BLOOD BANK DETAILS</h1></header>
<div class="topnav">
  <a routerLink="/bloodbankmenu">Back</a>
 <a id="logout" routerLink="/">Logout</a>
</div>
<br>
<div>

  <table>

   
    <tr>
      <td id="textele">Blood Bank Name</td>
      <td><input type="text" name="" id="" [(ngModel)]="bloodbank.bloodBankName"></td>
    </tr>
    <tr>
      <td id="textele">Address</td>
      <td><input type="text" name="" id="" [(ngModel)]="bloodbank.address"></td>
    </tr>
    <tr>
      <td id="textele">City</td>
      <td><input type="text" name="" id="" [(ngModel)]="bloodbank.city"></td>
    </tr>
    <tr>
      <td id="textele">ContactNumber</td>
      <td><input type="number" name="" id="" [(ngModel)]="bloodbank.contactNumber"></td>
    </tr>
    <tr>
      <td colspan="2">
        <button  id="btn" (click)="AddBloodBank()" onclick="alert('Blood Bank Details Added')" >Add</button>
</td>

    </tr>
  </table>
</div>

<footer>
  <h4>COPYRIGHT © 2022<br>Blood Bank Management<br>ALL RIGHTS RESERVED.</h4>
</footer>

