<header>
  <h1>BLOOD DONOR MENU</h1>
</header>
<nav>
  <ul>
    <li id="box"><a routerLink="/getblooddonordetails">View all Blood Donor</a></li>
    <li id="box"><a routerLink="/addblooddonordetails">Add Blood Donor</a></li>
    <li id="box"><a routerLink="/updateblooddonordetails">Update Blood Donor</a></li>

    <li id="box"><a routerLink="/addblooddonordonation">Add Blood Donor Donation Details</a></li>
    <li id="box"><a routerLink="/viewbloodinventory">Blood Inventory</a></li>
    <li id="box"><a routerLink="/searchblood">Search Blood </a></li>



  </ul>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
  <h3>All rights reserved to @blood donation group</h3>
</footer>
