<header>
  <h1>BLOOD DONOR MENU</h1>
  <img id="a" src="assets\a.jpeg" width="200" height="220">
  <img id="e" src="assets\h.jpeg" width="200" height="220">
</header>

<div class="topnav">
  <a routerLink="/homepage">Back</a>
  <a routerLink="/getblooddonordetails">View all Blood Donor</a>
  <a routerLink="/addblooddonordetails">Add Blood Donor</a>

  <a routerLink="/addblooddonordonation">Add Blood Donor Donation Details</a>
  <a routerLink="/viewbloodinventory">Blood Donations</a>
  <a routerLink="/searchblood">Search Blood </a>
  <a routerLink="/bloodavailable">Blood Inventory </a>
 <a id="logout" routerLink="/">Logout</a>
</div>

<footer>
  <h4>COPYRIGHT © 2022<br>Blood Bank Management<br>ALL RIGHTS RESERVED.</h4>
</footer>
