<header><h1>VIEW ALL BLOOD DONATION CAMPS</h1></header>
<div class="topnav">
  <a routerLink="/blooddonationcampmenu">Back</a>
 <a id="logout" routerLink="/">Logout</a>
</div>
<br>
<br>
<div>
  <table border="1" style="width:90%">
    <tr>
      <th>Blood Donation Camp ID</th>
      <th>Camp Name</th>
      <th>Adress</th>
      <th>City</th>
      <th>Blood Bank ID</th>
      <th>Camp Start Date</th>
      <th>Camp End Date</th>
    </tr>
    <tr *ngFor="let item of blooddonationcamps">
      <td><input type="text" [(ngModel)]="item.bloodDonationCampID" [disabled]="!item.isEditable"/></td>
      <td><input type="text" [(ngModel)]="item.campName" [disabled]="!item.isEditable"/></td>
      <td><input type="text" [(ngModel)]="item.adress" [disabled]="!item.isEditable"/></td>
      <td><input type="text" [(ngModel)]="item.city" [disabled]="!item.isEditable"/></td>
      <td><input type="number" [(ngModel)]="item.bloodBankID" [disabled]="!item.isEditable"/></td>
      <td><input type="datetime" [(ngModel)]="item.campStartDate" [disabled]="!item.isEditable"/></td>
      <td><input type="datetime" [(ngModel)]="item.campEndDate" [disabled]="!item.isEditable"/></td>
      <td>

        <button  (click)="item.isEditable=!item.isEditable" *ngIf="!item.isEditable">Edit</button>
        <button *ngIf="item.isEditable" (click)="GetBloodDonationCampStartDate(item.bloodDonationCampID)"(click)="updateblooddonationcamp(item.bloodDonationCampID,item.campName,item.adress,item.city,item.bloodBankID,item.campStartDate,item.campEndDate)">Save</button>



     </td>


    </tr>


  </table>


</div>
<footer>
  
  <h4>COPYRIGHT © 2022<br>Blood Bank Management<br>ALL RIGHTS RESERVED.</h4>
</footer>
