table, th, td {
  border: 2px solid black;
  margin-left: auto;

  margin-right: auto;
  border-collapse: collapse;
  width: 500px;
  text-align: center;
  font-size: 20px;
  background-color: white;
  }
  th{
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);
  }
  button
  {
      color:black;
  }
  body {
      background-color: #328f8a;
      background-image: linear-gradient(45deg,#328f8a,#08ac4b);
      font-family: "Roboto", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-size: 100%;
      height: 2000px;
      width: 100%;
    }

h1
{
  text-align: center;
}
