<header><h1>ADD HOSPITAL</h1></header>
<br>

<div>
  <table>
    <tr>
      <td id="hid">HospitalID</td>
      <td><input type="number" name="hid1" id="hid1" [(ngModel)]="hospital.hospitalID"></td>
    </tr>
    <br>
    <tr>
      <td id="hn">HospitalName</td>
      <td><input type="text" name="" id="" [(ngModel)]="hospital.hospitalName"></td>
    </tr>
    <br>
    <tr>
      <td id="ha">Address</td>
      <td><input type="text" name="" id="" [(ngModel)]="hospital.address"></td>
    </tr>
    <br>
    <tr>
      <td id="hc">City</td>
      <td><input type="text" name="" id="" [(ngModel)]="hospital.city"></td>
    </tr>
    <br>
    <tr>
      <td id="hcn">ConatctNo</td>
      <td><input type="text" name="" id="" [(ngModel)]="hospital.contactNo"></td>
    </tr>
    <br>
    <tr>
      <td colspan="2">
        <button id="btn" (click)="AddHospitalDetails()">Add</button>
      </td>
    </tr>
  </table>
</div>

