<header><h1>ADD HOSPITAL</h1></header>
<div class="topnav">
  <a routerLink="/hospitalmenu">Back</a>
 <a id="logout" routerLink="/">Logout</a>
</div>
<div>
  <table>

    <br>
    <tr>
      <td id="hn">HospitalName</td>
      <td><input type="text" name="" id="" [(ngModel)]="hospital.hospitalName"></td>
    </tr>
    <br>
    <tr>
      <td id="ha">Address</td>
      <td><input type="text" name="" id="" [(ngModel)]="hospital.address"></td>
    </tr>
    <br>
    <tr>
      <td id="hc">City</td>
      <td><input type="text" name="" id="" [(ngModel)]="hospital.city"></td>
    </tr>
    <br>
    <tr>
      <td id="hcn">ConatctNo</td>
      <td><input type="text" name="" id="" [(ngModel)]="hospital.contactNo"></td>
    </tr>
    <br>
    <tr>
      <td id="hcn">Blood Bank ID</td>
      <td><input type="text" name="" id="" [(ngModel)]="hospital.bloodBankID"></td>
    </tr>
    <br>
    <tr>
      <td colspan="2">
        <button id="btn" (click)="AddHospitalDetails()" onclick="alert('Hospital Added')">Add</button>
      </td>


    </tr>

  </table>
</div>
<footer>
  <h4>COPYRIGHT © 2022<br>Blood Bank Management<br>ALL RIGHTS RESERVED.</h4>
</footer>

