<header><h1>VIEW ALL BLOOD DONORS</h1></header>
<div class="topnav">
  <a routerLink="/blooddonormenu">Back</a>
 <a id="logout" routerLink="/">Logout</a>
</div>
<br>
<br>
<div class="divScroll">
    <table border="1" style="width:50%">
      <tr>
        <th>Blood Donor ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City</th>
        <th>Address</th>
        <th>Mobile Number</th>
        <th>Blood Group</th>
      </tr>
      <tr *ngFor="let item of blooddonors">
        <td>{{item.bloodDonorID}}</td>
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.address}}</td>
        <td>{{item.city}}</td>
        <td>{{item.mobileNo}}</td>
        <td>{{item.bloodGroup}}</td>
        <td><button id="btn" (click)="RemoveBloodDonor(item.bloodDonorID)" onclick="alert('Blood Donor Deleted')" >Delete</button></td>
      </tr>
    </table>
  </div>
  <footer>
    <h4>COPYRIGHT © 2022<br>Blood Bank Management<br>ALL RIGHTS RESERVED.</h4>
  </footer>
