
<div>
    <table border="1" style="width:50%">
      <tr>
        <th>Blood Donar Id</th>
        <th>FirstName</th>
        <th>Lastname</th>
        <th>city</th>
        <th>address</th>
        <th>Mobile No</th>
        <th>Blood Group</th>
      </tr>
      <tr *ngFor="let item of blooddonors">
        <td><input type="text" [(ngModel)]="item.bloodDonorID" [disabled]="!item.isEditable"/></td>
        <td><input type="text" [(ngModel)]="item.firstName" [disabled]="!item.isEditable"/></td>
        <td><input type="text" [(ngModel)]="item.lastName" [disabled]="!item.isEditable"/></td>
        <td><input type="text" [(ngModel)]="item.address" [disabled]="!item.isEditable"/></td>
        <td><input type="text" [(ngModel)]="item.city" [disabled]="!item.isEditable"/></td>
        <td><input type="text" [(ngModel)]="item.mobileNo" [disabled]="!item.isEditable"/></td>
        <td><input type="text" [(ngModel)]="item.bloodGroup" [disabled]="!item.isEditable"/></td>
        <td><button (click)="RemoveBloodDonor(item.bloodDonorID)">Delete</button></td>
        <td>
          <button (click)="item.isEditable=!item.isEditable" *ngIf="!item.isEditable">Edit</button>
          <button *ngIf="item.isEditable" (click)="updateblooddonor(item.bloodDonorID,item.firstName,item.lastName,item.address,item.city,item.mobileNo,item.bloodGroup)">Save</button>


       </td>
      </tr>
    </table>
    <button><a routerLink="/blooddonormenu">back</a></button>
  </div>
