
<div>
  <table>
    <tr>
      <td>enter blood donation Id</td>
      <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.bloodDonationID"></td>
    </tr>
    <tr>
      <tr>
        <td>enter blood bank id you want to transfer to</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.bloodBankID"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button (click)="TransferBlood()">transfer</button>

        </td>
      </tr>
    </table>
  </div>

