<header>
  <h1>WELCOME</h1>
</header>
<nav>
  <div class="search"><input type="text" name="search" id="search" placeholder="Search this website">
   </div>
   <div class="logout"><a routerLink="/">logout</a></div>
</nav>
  <ul>
    <li id="box"><a routerLink="/hospitalmenu">HOSPITAL MENU</a></li>
    <li id="box"><a routerLink="/blooddonationcampmenu">BLOOD DONATION CAMP MENU</a></li>
    <li id="box"><a routerLink="/blooddonormenu">BLOOD DONOR MENU</a></li>
    <li id="box"><a routerLink="/bloodbankmenu">BLOOD BANK MENU</a></li>




  </ul>

<footer>
  <h3>All rights reserved to @blood donation group</h3>
</footer>
