header,footer,nav,main
{

  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}
header
{
  height: auto;
  background-color: #00FF7F;
}
header h1
{
  text-align: center;
  color: black;
}
#box{

  display: inline;
  height: 50px;
  width:200px;
  background-color: #ADFF2F;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 7px;
  margin:10px;

  transition:all 0.3s ease-in-out 0.3s;
}
#box:hover{
  background-color: rgb(28, 245, 194);
  width: 210px;
  height: 70px;
  border-radius: 20px;
  font-size: 25px;
  opacity: 0.5;
}
nav
{
  background-color:#98FB98 (179, 161, 226);
  border-radius: 10px;
  height: 50px;
}
#sidebox{
  border: 1px solid black;
  margin: 2px;
  padding: 5px;
}
.search{
  float:left;
  color:white;
  padding:12px 50px;

}
nav input{
  border:.5px solid black;
  border-radius:5px;
  padding:7px 60px ;
  width:350px;
}
.logout{
  float:right;
  color:white;
  padding:12px 75px;
}
main
{
  height:auto;
  background-color:white
}
footer
{
  height: auto;
  
  background-color:#00FF7F;
  margin-bottom: 0px;
  position: fixed;
  width:100%;
  bottom:0px;

}
footer h3
{
  text-align: center;
  color: black;
  padding: 0px;
}
