<div >
  <table border='1' style="width:80%">
      <tr>
        <th>Blood Bank Id</th>

          <th>Blood Bank Name </th>
          <th>Address</th>
          <th>City</th>
          <th>Contact Number</th>

      </tr>
      <tr *ngFor="let item of bloodbanks">
        <td><input type="number" [(ngModel)]="item.bloodBankID" [disabled]="!item.isEditable"/></td>

        <td><input type="text" [(ngModel)]="item.bloodBankName" [disabled]="!item.isEditable"/></td>

        <td><input type="text" [(ngModel)]="item.address" [disabled]="!item.isEditable"/></td>
        <td><input type="text" [(ngModel)]="item.city" [disabled]="!item.isEditable"/></td>
        <td><input type="text" [(ngModel)]="item.contactNumber" [disabled]="!item.isEditable"/></td>
        <td><button (click)="Deletebloodbank(item.bloodBankID)">Delete</button></td>
        <td>
          <button (click)="item.isEditable=!item.isEditable" *ngIf="!item.isEditable">Edit</button>
          <button *ngIf="item.isEditable" (click)="updatebloodbank(item.bloodBankID,item.bloodBankName,item.address,item.city,item.contactNumber)">Save</button>


       </td>


      </tr>

  </table>
  <button><a routerLink="/bloodbankmenu">back</a></button>
  <button><a routerLink="/viewbloodbanks">back</a></button>
</div>
