<div >
  <table border='1' style="width:80%">
      <tr>
        <th>Blood Bank Id</th>
        <th>User Id</th>
          <th>Password</th>
          <th>Blood Bank Name </th>
          <th>Address</th>
          <th>City</th>
          <th>Contact Number</th>

      </tr>
      <tr *ngFor="let item of bloodbanks">
        <td>{{item.bloodBankID}}</td>
          <td>{{item.userID}}</td>
          <td>{{item.password}}</td>
          <td>{{item.bloodBankName}}</td>

          <td>{{item.address}}</td>
          <td>{{item.city}}</td>
          <td>{{item.contactNumber}}</td>

      </tr>

  </table>
</div>
