<header>
  <h1>BLOOD DONATION CAMP MENU</h1>
</header>

<nav>
  <ul>
    <li id="box"><a routerLink="/addblooddonationcamp">Arrange Blood Donation Camp</a></li>
      <li id="box"><a routerLink="/viewblooddonationcamp">View Blood Donation Camp</a></li>

    <li id="box"><a routerLink="/getblooddonationcampstartdate">Update Blood Donation Camp</a></li>
    <li><button><a routerLink="/homepage">back</a></button></li>



  </ul>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
  <h3>All rights reserved to @blood donation group</h3>
</footer>
