<header><h1>ADD BLOOD DONOR DONATION DETAILS</h1></header>
<div class="topnav">
  <a routerLink="/blooddonormenu">Back</a>
 <a id="logout" routerLink="/">Logout</a>
</div>
<br>
<div>
    <table>

      <tr>
        <td id="textele">Number of Bottles</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.numberofBottles"></td>
      </tr>
      <br>
      <tr>
        <td id="textele">Weight</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.weight">【Ｋｇ】</td>
      </tr>
      <br>
      <tr>
        <td id="textele">HB Count</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.hbCount">【ｇ／ｄｌ】</td>
      </tr>
      <br>
      <tr>
        <td id="textele">Blood Donor ID</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.bloodDonorID"></td>
      </tr>
      <br>
      <tr>
        <td id="textele">Blood Bank ID</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.bloodBankID"></td>
      </tr>
      <br>
      <tr>
        <td id="textele"><label>Blood Group</label>
          <td>
          <select id="z" name="blooddonordonation.bloodGroup"[(ngModel)]="blooddonordonation.bloodGroup" required="">
            <option value="BloodGroup">Select Blood Group</option>
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
          </select>

        </td>
          </tr>
      <tr>
        <td colspan="2">
          <button id="btn" (click)="AddBloodDonorDonation()" onclick="alert('Blood Donor Donation Details Added')" >Add</button>

        </td>
      </tr>
    </table>

  </div>

  <footer>
    <h4>COPYRIGHT © 2022<br>Blood Bank Management<br>ALL RIGHTS RESERVED.</h4>
  </footer>
