<header><h1>ADD BLOOD DONOR DONATION</h1></header>
<br>
<div>
    <table>

      <!-- <br>
      <tr>
        <td id="ui">Blood Donation Date</td>
        <td><input type="date" name="" id="" [(ngModel)]="blooddonordonation.bloodDonationDate"></td>
      </tr> -->
      <br>
      <tr>
        <td id="bn">Number of Bottles</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.numberofBottles"></td>
      </tr>
      <br>
      <tr>
        <td id="ad">Weight</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.weight"></td>
      </tr>
      <br>
      <tr>
        <td id="h">HB Count</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.hbCount"></td>
      </tr>
      <br>
      <tr>
        <td id="c">Blood Donor id</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.bloodDonorID"></td>
      </tr>
      <br>
      <tr>
        <td id="mn">Blood Bank ID</td>
        <td><input type="number" name="" id="" [(ngModel)]="blooddonordonation.bloodBankID"></td>
      </tr>
      <br>
      <tr>
        <td id="bg">Blood Group</td>
        <td><input type="text" name="" id="" [(ngModel)]="blooddonordonation.bloodGroup"></td>
      </tr>
      <br>
      <tr>
        <td colspan="2">
          <button id="btn" (click)="AddBloodDonorDonation()">Add</button>


        </td>
      </tr>
    </table>
    <button><a routerLink="/blooddonormenu">back</a></button>
  </div>
