<header><h1>Update Camp Details </h1></header>
<div>
  <table>
    <tr>
      <td id="textele">Blood Donation Camp Id</td>
      <td><input type="text" name="" id="" [(ngModel)]="blooddonationcamp.bloodDonationCampID"></td>
    </tr>

    <tr>
      <td id="textele">Camp Name</td>
      <td><input type="text" name="" id="" [(ngModel)]="blooddonationcamp.campName"></td>
    </tr>

    <tr>
      <td id="textele">Address</td>
      <td><input type="text" name="" id="" [(ngModel)]="blooddonationcamp.adress"></td>
    </tr>

    <tr>
      <td id="textele">City</td>
      <td><input type="text" name="" id="" [(ngModel)]="blooddonationcamp.city"></td>
    </tr>

    <tr>
      <td id="textele">Blood Bank Id</td>
      <td><input type="text" name="" id="" [(ngModel)]="blooddonationcamp.bloodBankID"></td>
    </tr>

    <tr>
      <td id="textele">Blood Donation Camp Start Date</td>
      <td><input type="date" name="" id="" [(ngModel)]="blooddonationcamp.campStartDate"></td>
    </tr>

    <tr>
      <td id="textele">Blood Donation Camp End Date</td>
      <td><input type="date" name="" id="" [(ngModel)]="blooddonationcamp.campEndDate"></td>
    </tr>
    <tr>
      <td colspan="2">
        <button id="btn" (click)="UpdateBloodDonationCamp()">EditBloodDonationCamp</button>
      </td>
    </tr>
    <tr>

    </tr>

  </table>
</div>
